* {
  margin: 0;
  padding: 0;
}

nav .fila-completa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 15px 10px;
}

.seccion-uno{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.seccion-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.seccion-tres{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navboton {
  display: flex;
  padding: 8px 8px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo {
border-color: none;
}

.perfil{
  display: flex;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.navboton:hover {
  background-color: #ccc;
}

.search-bar-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 600px;
  border: 1px solid #b6b6b6;
  border-radius: 50px;
  overflow: hidden;
}

#search-box {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

#search-button {
  padding: 10px 20px;
  background-color: #e4e4e4;
  color: white;
  border: none;
  cursor: pointer;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  nav {
    
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav {
  
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {

  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav {

  }
}