* {
  margin: 0;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 15px 10px;
}

nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.navboton {
  display: flex;
  padding: 8px 8px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.microfono2 {
  display: none;
  padding: 8px 8px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logo {
border-color: none;
}

.lupa {
  display: flex;
  padding: 8px 8px;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.perfil{
  display: flex;
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.navboton:hover {
  background-color: #ccc;
}

.search-bar-container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 600px;
  border: 1px solid #b6b6b6;
  border-radius: 50px;
  overflow: hidden;
}

#search-box {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

#search-button {
  padding: 10px 20px;
  background-color: #e4e4e4;
  color: white;
  border: none;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .search-bar-container {
    display: none;
  }

  .lupa {
    display: flex;
  }

  nav {
    display: flex;
    justify-content: baseline;
  }

  .seccion-uno {
    display: flex;
    justify-content: left;
  }

  .seccion-dos .seccion-tres {
    display: flex;
    justify-content: right;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .search-bar-container {
    display: none;
  }

  .lupa {
    display: flex;
  }

  .seccion-dos .seccion-tres {
    display: flex;
    justify-content: right;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .search-bar-container {
    display: flex;
  }

  .lupa {
    display: flex;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .search-bar-container {
    display: flex;
  }

  .lupa {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .search-bar-container {
    display: flex;
  }

  .lupa {
    display: none;
  }
}
